* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: #212121;
}
img{
  display: block;
    max-width: 100%;
    height: auto;
  }
.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.info{
  display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 14px;
}
.info-item{
  text-align: center;
  margin: 0;
  padding: 5px;
}
.photo-card{
  padding: 10px;
}
.gallery__image{
  width: 280px;
  height: 210px;
}
